.footer {
  background-color: #2a2c2f;
  max-width: 1280px;
  margin: 0 auto;
}

.footer__text {
  padding-top: 7.2%;
  padding-bottom: 2.5%;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: #2a2c2f;
    max-width: 768px;
    margin: 0 auto;
  }

  .footer__text {
    padding-top: 11.45%;
    padding-bottom: 3.12%;
    color: #ffffff;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    background-color: #2a2c2f;
    max-width: 320px;
    margin: 0 auto;
  }

  .footer__text {
    padding-top: 20%;
    padding-bottom: 7.5%;
    color: #ffffff;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }
}
