.header {
  margin: 0;
}

.header__logo {
  width: 254px;
  display: block;
  margin: 0 auto;
  padding-top: 2.65%;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 254px;
    display: flex;
    display: block;
    margin: 0 auto;
    padding-top: 3.9%;
    margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    display: block;
    margin: 0 auto;
    padding-top: 6.25%;
    margin-top: 0;
  }
}
