.lead {
  margin-top: 7%;
  margin-left: 11.5%;
  margin-right: 11.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  max-width: 73.2%;
  margin: 0;
}

.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 73.2%;
  margin-top: 3.25%;
  margin-bottom: 6.5%;
}

.lead__image {
  filter: grayscale(100%);
  max-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .lead__title {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 75px;
    line-height: 1.05;
    text-align: center;
    max-width: 69%;
    margin-top: 11.7%;
    margin-left: 15.5%;
    margin-right: 15.5%;
  }

  .lead__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    max-width: 93.75%;
    margin-top: 3.25%;
    margin-bottom: 4.16%;
  }

  .lead__image {
    filter: grayscale(100%);
    max-width: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .lead__title {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    max-width: 71.25%;
    margin-top: 15.6%;
    margin-left: 14.37%;
    margin-right: 14.37%;
  }

  .lead__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    max-width: 90%;
    margin-top: 5%;
    margin-bottom: 12.5%;
  }

  .lead__image {
    filter: grayscale(100%);
    max-width: 100%;
    object-fit: contain;
  }
}
