* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page {
    font-family: "Inter", Arial, sans-serif;
    background-color: #2a2c2f;
    color: #ffffff;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .page {
    font-family: "Inter", Arial, sans-serif;
    background-color: #2a2c2f;
    color: #ffffff;
    max-width: 320px;
    margin: 0 auto;
  }
}
